.active {
  color: $color-tertiary;
}

.wid-100 {
  width: 100%;
}

.h100vh {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.m-x-block-large {
  margin-block: 3.2rem !important;
}

.postion-absolute {
  position: absolute;
}

.m-y-block-large {
  margin-block: 2.3rem !important;
}

.m-y-large {
  margin-block: 2.3rem;
}

.m-y-normal {
  margin-block: 1.1rem;
}

.m-y-small {
  margin-block: 0.7rem;
}

.flex-dir-col {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.ali-items-center {
  align-items: center;
}

.caret-none {
  caret-color: transparent;
}

.m-right-small {
  margin-right: 0.9rem;
}

.hide {
  display: block;
}

.flex-full {
  flex: 1 1 auto;
}
